<style type="text/css">
/**
* Toastify CSS 
 */

/*SET ANIMATIOn */
.toastify {
    width: 300px;
    height: 60px;
    position: fixed;
    z-index: 9999;
}


/*
* Type of toast
 */
 */
.toastify.toastify--success {
    background: #5cb85c;
}

.toastify.toastify--error {
    background: #d9534f;
}

.toastify.toastify--info {
    background: #5bc0de;
}

.toastify.toastify--warning {
    background: #f0ad4e;
}


.success {
    background: #5cb85c;
}
.error {
    background: #d9534f;
}
.info {
    background: #5bc0de;
}
.warning {
    background: #f0ad4e;
}


</style>
<script>


    function closeFlashMessage() {
        document.querySelector('.flash-message').style.display = 'none';
    }
    function showFlashMessage() {
        document.querySelector('.flash-message').style.display = 'block';
    }

    function GetToastType(type) {
        /* 
        * Based on the type of toast, return the class name
         */
        switch (type) {
            case 'success':
                return '#5cb85c';
            case 'error':
                return '#d9534f';
            case 'info':
                return '#5bc0de';
            case 'warning':
                return '#f0ad4e';
            default:
                return '#5cb85c';
        }
    }


    function notify(message, type) {
        var toast = Toastify({
            text: message,
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: 'right', // `left`, `center` or `right`

            stopOnFocus: true, // Prevents dismissing of toast on hover
            /**
            * Set to type of toast
             */
            backgroundColor: GetToastType(type),
            onClick: function(){} // Callback after click
            /**
            * @param {boolean} isShown - is toast currently shown
             */
             
            
        });
        toast.showToast();

    }

    

      <% if (errorMessages.length > 0) { %>
      <div class="error-message ">
        <%= errorMessages %>
      </div>
      <% } %>

      <% if (successMessages.length > 0) { %>
      <div class="success-message ">
        <%= successMessages %>
        <%= alert("success ") %>
      </div>
      <% } %>

      <% if(flashMessages.length >0 ) { %>

      <div class="flash-message ">
        <%= flashMessages %>
        <button class="close-flash-message " onclick="closeFlashMessage() ">X</button>

        <% } %>

</script>
<div class="navbar">
    <div class="navbarWrap">
        <div class="navbarRow"><button class="hamburgerMenu hamburgerMenuOpen"><div></div><div></div><div></div></button></div>
        <div class="navbarRow">
            <div class="userNavbar ">
                <div class="userLogo"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="AccountCircleRoundedIcon"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path></svg></div>
                <!-- CHECK IF email in Cookie-->

                <script defer>
                    document.addEventListener('DOMContentLoaded', function() {

                        //document.getElementById('avatar').src = `https://api.multiavatar.com/${Math.random().toString(36).substring(7)}.svg`;
                    })
                </script>


                <% if (user) { %>



            </div>

            <div class="userNavbar">

                <img src="/images/avatar.png" width="50px" id="avatar" class="avatar" />
                <div class="userLogged"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span id="loggedInEmail" class="is-warning"> <%= user.email %></span>

                </div>
                <div class="userLogged"> <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span id="loggedInEmail" class="is-warning"> <%= user.username %></span>

                    <a href="/logout"> <i class="fa-sharp fa-solid fa-right-from-bracket " style="color: #ff0033;">  </i> Logout
                    </a>
                    <% } else { %>


                        <div class="navbarFlex">
                            <div class="userLogo"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium maincolor clickable css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="LogoutRoundedIcon"><path d="M5 5h6c.55 0 1-.45 1-1s-.45-1-1-1H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h6c.55 0 1-.45 1-1s-.45-1-1-1H5V5z"></path><path d="m20.65 11.65-2.79-2.79c-.32-.32-.86-.1-.86.35V11h-7c-.55 0-1 .45-1 1s.45 1 1 1h7v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.19.2-.51.01-.7z"></path></svg></div>
                            <i class="fa-sharp fa-solid fa-right-from-bracket " style="color: #ff0033;">    <a href="/login">
                        Login
                        </a></i>

                            <% } %>

                        </div>
                </div>
            </div>
        </div>
    </div>