<%- include('partials/header') %>
<!--BULMA-->

<>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

  <%- include('partials/sidebar') %>


  <div class="bodyWrap">
    <script defer>
      document.addEventListener('DOMContentLoaded', function() {
        $('.submitNewOrderBtn').on('click', function() {
          AddClient();
        })
      };
      });
      const AddClient = () = {
      } {}
      const name = document.getElementById('name').value;
      const phone = document.getElementById('phone').value;
      const email = document.getElementById('email').value;
      const address = document.getElementById('password').value;
      const city = document.getElementById('city').value;
      const state = document.getElementById('state').value;
      const zipcode = document.getElementById('zipcode').value;
      const newClient = {
        name,
        phone,
        email,
        address,
        city,
        state,
        zipcode
      };

      fetch('/clients/add', {
            method
          }: 'POST',
          headers: {
            'Content-Type'
          }: 'application/json'
        },
        body: JSON.stringify(newClient)
      }).then((response) => {}

        if (response.status === 200) {
          console.log('client added')
        }; window.location.href = "/clients";
      }
      else {
        console.log('client not added')
      };
      }
      });
      };
    </script>

    <script defer src="/scripts/clients.js"></script>
    <div class="contentOrderWrap usersTableWrap">
      <div class="leftSide">
        <h1>Client
          <font class="maincolor">Management</font>
        </h1>
        <div class="orderNavWrap">
          <div class="addOrderWrap">
            <input type="text" placeholder="Search by name or ID" value=""><button id="addClient" class="addOrder">
              <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="AddCircleOutlineRoundedIcon">
                <path d="M12 7c-.55 0-1 .45-1 1v3H8c-.55 0-1 .45-1 1s.45 1 1 1h3v3c0 .55.45 1 1 1s1-.45 1-1v-3h3c.55 0 1-.45 1-1s-.45-1-1-1h-3V8c0-.55-.45-1-1-1zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
              </svg><span class="addOrderText">Add</span>
            </button>

</div>
</div>
<div class="orderWrap">
  <div class="tableResultsWrap">
    <div class="resultsSpan">
      Showing
      <font class="resultsBold"> 0 </font>of
      <font class="resultsBold">
        0 </font>results
    </div>
    <ul class="pagination"></ul>
  </div>

  <table class="usersTable">
    <thead>
      <tr>
        <th class="alignCenter">Documents</th>
        <th class="alignCenter">Client Email</th>
        <th class="alignCenter">Client Phone</th>
        <th class="alignCenter">Client Status</th>
        <th class="alignCenter"></th>
      </tr>
    </thead>
    <tbody>

      <% if (users) {%>


        <% for (let i = 0; i < users.length; i++) {%>        
                                            <tr class="tableRow">

                                                <td class="alignCenter">

                                                    <div class="" id="clientID">

                                                        <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                                                            <div class="dropdown-content">
                                                                <div class="dropdown-item">
                                                                    <p>Add the <code>is-right</code> modifier for a <strong>right-aligned</strong> dropdown.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%= users[i].documents.length %>
                                                </div>
                                            </td>
                     
                                            <td class="alignCenter">
                                                <i class="" id="clientEmail">    <%= users[i].email %> </i>

                                            </td>
                     
                                            <td class="alignCenter">
                                                <i class="" id="clientPhone"><%=  users[i].phone %>
                                                </i>

                                            </td>
                                            
                                            <td class="alignCenter">
                                             

      </td>

      

      <td>
        <a href="/clients/<%= users[i].id %>">

          <i id="editOrderButton" class="fas fa-2x fa-edit"></i>
          
      </td>
      </tr>

   
   <% } %>
  <% } %>
    </tbody>

  </table>

</div>
<!-- RIGHT SIDE-->
</div><table class="usersTable">
                                    <thead>
                                        <tr>
                                            <th class="alignCenter">Name</th>
                                            <th class="alignCenter">Date Created</th>
                                            <th class="alignCenter">Approval Status</th>
                                            <th class="alignCenter"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                       <%let documents = [];  if (documents.length > 0 ) {%> 
                                        <% for (let i = 0; i < documents.length; i++) {%>
                                        <tr>
                                            <td class="alignCenter">
                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium maincolor css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="AccountCircleRoundedIcon">
                                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path>
                                          </svg>
                                            </td>
                                            <td class="alignCenter"><%= documents[i],name%>></td>
                                            <td class="alignCenter"><%= documents[i].created %> </td>
                                            <% if(documents[i].approved == true) {%>

                                             <div class="dropdown is-right" id="dropdown6" data-dropdown-content>
                                                <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item">
                                                            <p>Add the <code>is-right</code> modifier for a <strong>right-aligned</strong> dropdown.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

    <% } %>
    <% } %>
    <% } %>


                                            <td class="alignCenter">
                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium clickable css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="DeleteForeverRoundedIcon">
                                            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm3.17-6.41a.9959.9959 0 0 1 0-1.41c.39-.39 1.02-.39 1.41 0L12 12.59l1.41-1.41c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41L13.41 14l1.41 1.41c.39.39.39 1.02 0 1.41s-1.02.39-1.41 0L12 15.41l-1.41 1.41c-.39.39-1.02.39-1.41 0a.9959.9959 0 0 1 0-1.41L10.59 14l-1.42-1.41zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z"></path>
                                          </svg>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>

</div>
</div>
<div class="popup">
</div>



</body>

</html>